@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap");

* {
	font-family: "Urbanist", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root {
	--primary: #b59a57;
}

/****************************************************************************************************
										NAVBAR SECTION
*****************************************************************************************************/
.contain {
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	height: 80px;
	width: auto;
}

.logo2 {
	display: none;
}

nav {
	position: fixed;
	height: 80px;
	width: 100%;
	/* background-color: transparent; */
	/* background-color: rgba(255, 255, 255, 0.2); */
	background-color: white;
	z-index: 9999;
}

nav ul {
	float: right;
	margin-right: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

nav ul li {
	line-height: 80px;
	max-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: var(--primary);
	font-size: 20px;
	font-weight: 500;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active,
a:hover {
	background: var(--primary);
	color: white;
	transition: 0.5s;
}

.check-btn {
	font-size: 30px;
	color: var(--primary);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: None;
}

#check {
	display: none;
}

@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 16px;
		color: #ceb472;
	}
}

@media (max-width: 858px) {
	.check-btn {
		display: block;
	}

	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.8);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		flex-direction: column;
		justify-content: flex-start;
	}

	nav ul li {
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	a:hover,
	a.active {
		background: var(--primary);
		color: white;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

@media (max-width: 768px) {
	.logo {
		display: none;
	}

	.logo2 {
		display: inline-block;
		height: 80px;
		padding-left: 20px;
	}
}

/****************************************************************************************************
										HERO SECTION
*****************************************************************************************************/
.hero {
	height: calc(100vh - 80px);
	padding-top: 80px;
}

.hero-img {
	display: block;
	width: 100%;
	height: calc(100vh - 80px);
	object-fit: cover;
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 20px;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}

.hero-content h1 {
	font-weight: 700;
	font-size: 3.5rem;
}

.hero-content h3 {
	font-weight: 400;
	font-size: 2rem;
}

/****************************************************************************************************
										ABOUT SECTION
*****************************************************************************************************/
.about-section {
	min-height: 100vh;
	background-color: #ddd;
	display: flex;
}

.about-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;
	margin: auto;
	max-width: 1900px;
}

.about-content-section {
	width: 50%;
}

.about-image-section {
	max-width: 900px;
}

.about-image-section img {
	width: 100%;
	height: 70vh;
	object-fit: cover;
}

.about-content-section .about-title {
	text-transform: uppercase;
	font-size: 28px;
}

.about-content-section .about-content h3 {
	margin-top: 20px;
	color: #5d5d5d;
	font-size: 21px;
}

.about-content-section .about-content p {
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.5;
}

.about-content-section .about-content .about-button {
	margin-top: 30px;
}

.about-content-section .about-content .about-button a {
	background-color: var(--primary);
	padding: 12px 40px;
	color: #fff;
	font-size: 25px;
	letter-spacing: 1.5px;
	border-radius: 5rem;
}

.about-content-section .about-content .about-button a:hover {
	background-color: var(--white);
	color: var(--primary);
	border: 1px solid var(--primary);
}

@media (max-width: 1024px) {
	.about-container {
		flex-direction: column;
		justify-content: space-around;
	}

	.about-image-section img {
		margin-top: 5vh;
		height: 50vh;
	}
}
