@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap");

* {
	font-family: "Urbanist", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root {
	--primary: #b59a57;
}

/****************************************************************************************************
										NAVBAR SECTION
*****************************************************************************************************/
.contain {
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	height: 80px;
	width: auto;
}

.logo2 {
	display: none;
}

nav {
	position: fixed;
	height: 80px;
	width: 100%;
	/* background-color: transparent; */
	/* background-color: rgba(255, 255, 255, 0.2); */
	background-color: white;
	z-index: 9999;
}

nav ul {
	float: right;
	margin-right: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

nav ul li {
	line-height: 80px;
	max-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: var(--primary);
	font-size: 20px;
	font-weight: 500;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
	background: var(--primary);
	color: white;
	transition: 0.5s;
}

.check-btn {
	font-size: 30px;
	color: var(--primary);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: None;
}

#check {
	display: none;
}

.whatsapp-btn {
	background-color: #25d366;
	color: #fff;
	border-radius: 25px;
	text-transform: capitalize;
	font-style: italic;
	font-size: 18px;
}

.whatsapp-btn i {
	margin-right: 3px;
}

.whatsapp-btn:hover {
	background-color: #ffffff;
	color: var(--primary);
	border: 1px solid var(--primary);
}

@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 16px;
		color: #ceb472;
	}
}

@media (max-width: 858px) {
	.check-btn {
		display: block;
	}

	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.8);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		flex-direction: column;
		justify-content: flex-start;
	}

	nav ul li {
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	a:hover,
	a.active {
		background: var(--primary);
		color: white;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

@media (max-width: 768px) {
	.logo {
		display: none;
	}

	.logo2 {
		display: inline-block;
		height: 80px;
		padding-left: 20px;
	}
}

/****************************************************************************************************
										HERO SECTION
*****************************************************************************************************/
.hero {
	height: calc(100vh - 80px);
	padding-top: 80px;
}

.hero-img {
	display: block;
	width: 100%;
	height: calc(100vh - 80px);
	object-fit: cover;
}

.hero-content {
	position: absolute;
	top: 65%;
	left: 20px;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}

.hero-content h1 {
	font-weight: 700;
	font-size: 3.8rem;
}

.hero-content h3 {
	font-weight: 400;
	font-size: 2.2rem;
}

/****************************************************************************************************
										ABOUT SECTION
*****************************************************************************************************/
.about-section {
	min-height: 100vh;
	background-color: #ddd;
	display: flex;
	padding-top: 80px;
}

.about-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: auto;
	max-width: 1900px;
}

.about-content-section {
	width: 50%;
}

.about-image-section {
	max-width: 900px;
}

.about-image-section img {
	width: 100%;
	height: 70vh;
	object-fit: cover;
}

.about-content-section .about-title {
	text-transform: uppercase;
	font-size: 28px;
}

.about-content-section .about-content h3 {
	margin-top: 20px;
	color: #5d5d5d;
	font-size: 21px;
}

.about-content-section .about-content p {
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.5;
}

.about-content-section .about-content .about-button {
	margin-top: 30px;
}

.about-content-section .about-content .about-button a {
	background-color: var(--primary);
	padding: 12px 40px;
	color: #fff;
	font-size: 25px;
	letter-spacing: 1.5px;
	border-radius: 5rem;
}

.about-content-section .about-content .about-button a:hover {
	background-color: var(--white);
	color: var(--primary);
	border: 1px solid var(--primary);
}

@media (max-width: 1024px) {
	.about-container {
		flex-direction: column;
		justify-content: space-around;
	}

	.about-image-section img {
		margin-top: 5vh;
		height: 50vh;
	}
}

@media (max-width: 500px) {
	.about-content-section {
		width: 80%;
		margin-top: 60px;
	}

	.about-image-section {
		margin-bottom: 40px;
	}
}

/****************************************************************************************************
										WHY SECTION
*****************************************************************************************************/
.why-us {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;
	margin: 5rem;
}

.title h2 {
	font-size: 4rem;
	color: var(--primary);
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.title p {
	padding-top: 0.8rem;
	font-size: 1.5rem;
	color: #5d5d5d;
}

.why-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.why-card {
	/* height: auto; */
	flex-basis: auto;
	flex-wrap: wrap;
	max-width: 400px;
	border: 1px solid #d9d9d9;
	margin: 2rem;
	border-radius: 25px;
}

.why-card img {
	width: 100%;
	border-radius: 25px 25px 0 0;
}

.why-card .text {
	padding: 1rem;
}

@media (min-width: 1500px) {
	.why-card {
		max-width: 500px;
	}
}

@media (max-width: 500px) {
	.title {
		margin: 2rem 1rem 1rem 1rem;
	}
	.title h2 {
		font-size: 2.2rem;
	}

	.title p {
		font-size: 1.3rem;
	}
}

/****************************************************************************************************
										CONTACT SECTION
*****************************************************************************************************/
.contact {
	min-height: 80vh;
	background-color: #ddd;
	padding-top: 80px;
}

.contact .title {
	margin: 0 auto 2rem auto;
}

.contact .column {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contact .column-left {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.contact .row {
	display: flex;
	padding: 10px;
	margin-right: auto;
}

.contact .row i {
	display: flex;
	align-items: center;
	font-size: 2rem;
	padding: 0 0.5rem;
	color: var(--primary);
	width: 3rem;
}

.contact .row-content {
	padding: 0 1rem;
}

.contact .row h2 {
	font-size: 1.8rem;
}

.contact .row p {
	padding-left: 5px;
	font-size: 1.1rem;
	color: grey;
}

.contact .row a {
	text-decoration: none;
	color: black;
}

.contact .column-right iframe {
	display: flex;
	margin-left: 20px;
	height: 50vh;
	width: 50vw;
	max-width: 740px;
}

@media (max-width: 1100px) {
	.contact .column {
		flex-direction: column;
	}

	.contact .column-left {
		margin-left: auto;
		margin-right: auto;
	}

	.contact .column-right iframe {
		height: 50vh;
		padding: 1rem 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 80vw;
	}
}

/****************************************************************************************************
										FOOTER SECTION
*****************************************************************************************************/

.footer {
	background: rgb(230, 230, 230);
	padding: 30px 0px 15px 0px;
	text-align: center;
}

.footer .row {
	width: 100%;
	margin: 1% 0%;
	padding: 0.6% 0%;
	color: gray;
	font-size: 0.8em;
}

.footer .row a {
	text-decoration: none;
	color: gray;
	transition: 0.5s;
}

.footer .row a:hover {
	color: var(--primary);
}

.footer .row ul {
	width: 100%;
}

.footer .row ul li {
	display: inline-block;
	margin: 0px 30px;
}

.footer .row a i {
	font-size: 2em;
	margin: 1% 1% 0.5% 1%;
}

@media (max-width: 720px) {
	.footer {
		text-align: left;
		padding: 5%;
	}
	.footer .row ul li {
		display: block;
		margin: 10px 0px;
		text-align: left;
	}
	.footer .row a i {
		margin: 0% 3%;
	}
}
